In [7]:
import pandas as pd
import string
import numpy as np
import re

# LOS ANGELES

In [166]:
#Import dataframe 
df=pd.read_csv('result_file.csv', encoding = 'utf8')
#Preprocessing

df=df.dropna()
def remove_punctuation(s):
    s = ''.join([i for i in s if i not in frozenset(string.punctuation)])
    return s


for i in range(7):
    df.iloc[:,i]=df.iloc[:,i].apply(remove_punctuation)

df=df.replace({'b':''}, regex=True)
df['Time']=df['Time'].apply(lambda x: x[19:26])
df['Applicants']=df['Applicants'].apply(lambda x: int(re.findall(r'\d+', x)[0]) if len(x)!=0 else None)
df.head(2)

,Job Title,Company Name,Time,Applicants,Place,Job Description,Skill,Url
0,Sr Data Analyst Financial Contract Reporting,Warner Bros Entertainment,2 weeks,25.0,,What part will you play W...,,'https://www.linkedin.com/jos/view/1122966455/...
1,Big Data Engineer Microservices Developer,Perficient,2 weeks,25.0,Los Angeles CA US,At Perficient youxe2x80x99ll d...,,'https://www.linkedin.com/jos/view/1093295519/...

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 0 to 511
Data columns (total 8 columns):
Job Title          512 non-null object
Company Name       512 non-null object
Time               512 non-null object
Applicants         414 non-null float64
Place              512 non-null object
Job Description    512 non-null object
Skill              512 non-null object
Url                512 non-null object
dtypes: float64(1), object(7)
memory usage: 36.0+ KB

In [263]:
#Drop missing info of applicant
df=df.dropna()
df=df.drop_duplicates()
df.shape

(396, 8)

In [248]:
df2=df.copy()
df2.head(2)

,Job Title,Company Name,Time,Applicants,Place,Job Description,Skill,Url
0,Sr Data Analyst Financial Contract Reporting,Warner Bros Entertainment,2 weeks,25.0,,What part will you play W...,,'https://www.linkedin.com/jos/view/1122966455/...
1,Big Data Engineer Microservices Developer,Perficient,2 weeks,25.0,Los Angeles CA US,At Perficient youxe2x80x99ll d...,,'https://www.linkedin.com/jos/view/1093295519/...

In [272]:
#REMOVE THE BIG COMPANY
#Facebook
name_list=[]
big_company=["Warner", "Mircosoft","Google","Amazon","IBM","Teradata","Oracle","SAP","HP","Dell","VMware",
            "ScienceSoft","QBurst","Guavus","Blue Yonder","Datascope","Lightwell","Accenture",
            "Wipro","SAP","1010data","Anaconda","Datameer","ClearStory","Tableau"]
for i, item in enumerate(df2['Company Name']):
    for name in big_company:
        if name in item.split():
            name_list.append(i)
        else:
            pass
        
#Drop big companies
df2.drop(df2.index[name_list], inplace=True)
df2.shape

(246, 8)

In [273]:
#Remove high_level position
high_position_list=['Senior','Sr',"Manager","Chief","Director"]
position_list=[]
for i, item in enumerate(df2['Job Title']):
    for name in high_position_list:
        if name in item.split():
            position_list.append(i)
        else:
            pass
        
#Drop big companies
df2.drop(df2.index[position_list], inplace=True)
df2.shape

(246, 8)

In [261]:
df2.head()

,Job Title,Company Name,Time,Applicants,Place,Job Description,Skill,Url
1,Big Data Engineer Microservices Developer,Perficient,2 weeks,25.0,Los Angeles CA US,At Perficient youxe2x80x99ll d...,,'https://www.linkedin.com/jos/view/1093295519/...
5,Big Data Engineer,Ksquare Inc,2 weeks,54.0,Glendale California,Role Big Data Engineer Dur...,Python Programming Language Engineers Lake Sui...,'https://www.linkedin.com/jos/view/1124180176/...
7,Computational Immunology Scientist,,2 days,39.0,Greater Los Angeles Area,CompanyTechnology Overview Dx...,Python Programming Language Data Science R Pos...,'https://www.linkedin.com/jos/view/1068575926/...
8,Data Scientist Sales Engineering,Factual Inc,2 weeks,191.0,,Factual is the location data ...,Statistics Python Programming Language Compute...,'https://www.linkedin.com/jos/view/1067889006/...
9,Data Scientist Predictive Analytics,Farmers Insurance,3 weeks,73.0,,We are Farmers Join a team ...,,'https://www.linkedin.com/jos/view/1091971261/...

In [271]:
#Remove company have more than 100 applicants
df2=df2[df2['Applicants']<100]
df2.shape

(248, 8)

In [ ]:
#Filter company upload 1 months ago